
/* Whole app----------------------------------------------------------------- */
body{
    background-color: ##f8f9fa;
    color:#EEEEEE;
    /*background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/giza-egypt-pyramids-in-sunset-scene-wonders-of-the-royalty-free-image-1588090115.jpg?crop=1xw:1xh;center,top&resize=980:*);*/

/* /* body{
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/giza-egypt-pyramids-in-sunset-scene-wonders-of-the-royalty-free-image-1588090115.jpg?crop=1xw:1xh;center,top&resize=980:*);
>>>>>>> e7d3703b2ed188a296318337aaa3822a060877d3
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: ;
} */
}

body{
    margin: 0;
    padding:0;
    height: 100%;


}

.App {
    text-align: center;
    scroll-behavior: smooth;
}

#head{
    /* background-image: url('./images/clouds.jpg') ; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:50vh;
    position: relative;
}

.nav-bar {
    background-color: rgb(231, 100, 77);
    color:white;
    display:flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    align-items: center;


}

.nav-links{
    display: flex;
    justify-content: right;
    margin-right: 0;
    width: 30%;
    list-style-type: none;

}
.nav-links li{
    padding: 10px;

}

.home{
    display: flex;
    flex: 1 1 auto;
    justify-content: left;
    margin-left: 10%;
}


.nav {
    /*margin-top: 20px;*/
    background-color: #EEC218;
    /*padding: 50px;*/
    /*padding-bottom: 10px;*/

    /*color: gold;*/
    height: 5%;
}

nav {
    margin-top: 20px;
    background-color: rgba(8, 8, 8, 0.75);
    padding: 5px;
    color: gold;
    height: 25%;

}
.nav > h1 {
    /*text-align: center;*/
    margin: auto;
    background-color: #EEC218;

    width: 50%;
    border-radius: 10px;
    text-shadow: 0 0 10px black;
    /*margin-top: 10px;*/
    padding-bottom: 10px;
}





.vacaData {
    background-color: rgba(0,0,0, 0.7);
    padding: 7px;
    /*border: 2px solid gold;*/
    border-radius: 5px;

    color:silver;
    /*text-shadow: 0 0  20px black;*/
    margin-top: 500px;
}
.addNewVacationForm {

    /*border: 2px solid green;*/
    /*background-color: rgba(250,250,250, 0.5);*/
    padding-top: 60px;
    padding-bottom: 180px;
    background-image: url(./clouds.jpg);
    background-size:cover;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    /* border: 2px solid green; */
    background-color: rgba(250,250,250, 0.5);
    padding:20px;
    position: absolute;
    bottom: 30px;
    width: 100%;
    border-radius: 0 10px 10px 0;


}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid rgb(214, 218, 33);
  border-radius: 15px;
}
input:focus {
  /* the outline property selects the default blue border that shows up on inputs. giving it a value of 0 gets rid of it */
  outline: 0;
  border: 2px solid black;
}


.vacationTable {
    margin: auto;
    /*border: 2px solid gold;*/
    background-color: black;
    color:white;
    border-radius: 3px;
    top: 30;
}
.vacationTable> td {
    width:10px;
}

.editForm {
    border: 2px solid red;
}
.currentVaca {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;

}







.hotelData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hotel {
    border: 3px solid black;
    padding: 10px;
}


.restaurant {
    border: 3px solid lime;
}






.allWeather{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.days {
    border: 2px solid green;
    padding: 10px;
}






input {
    width: 250px;
    /*background: #EEc218;*/
  /*border: none;*/
  /*border-radius: 1px;*/
  /*height: 25px;*/
  margin-left: 10px;
  border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    /*position: absolute;*/
    top: 0;
    left: 0;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


}

.searchInput{
 background:rgba(0,0,0,0.1);
 color: black;
 font-family: cinzil;
 /*font-size: 14px;*/
 font-weight: bold;
  /*border: none;*/
  /*border-radius: 1px;*/
  width: 140px;
  height: 30px;
  margin-left: 10px;
  text-align: center;

    border: 3px white solid;
    padding: 18px;
    /*position: absolute;*/
    top: 0;
    left: 0;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;



}

.vacaPreview{
    /*border: 5px solid yellow;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}





.hotels {
    /*border: 3px solid gold;*/
    width: 270px;
    background-color: black;
    color:white;
    margin: 5px;
    /*overflow: hidden;*/
}
.hotelContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.hotels>img {
    height: 300px;
    width: 300px;
}
.hotels> h1{
    font-size: 20px;
}

.hotels> p {
    font-size: 10px;
}

.hotelsDiv{
    /*border: 2px solid cyan;*/
    width: 47%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.WeatherDiv {
    border: 2px solid black;
    width: 40%;
}

#logo {
    height: 102px;
    width: 102px;
    border-radius: 3px;
    margin-bottom: 0;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
.other-btns {
    display: flex;
    flex-direction: row;
    /*margin-bottom: 40px;*/
}

#obtn1 {
    /*margin-bottom: 60px;*/
    position: absolute;
    margin-top: 33%;

}

#obtn2 {
     position: absolute;
    margin-top: 33%;
    margin-left: 13%;
    /*margin-top: 60%;*/


}

#main-submit {
    /*padding-top: 30px;*/
    margin-top: 30px;
    /*margin-left: 80   %;*/
}

.new {
    margin-top: 40px;
    font-family: cinzil;
}

.welcome {
    color:black;
    font-family: cinzil;
     font-weight: bold
}
